---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16comgKUdRrCs1LrKlF6k8pb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_aHOa6eoJJjnQPRDIPLzYaM70
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16comgKUdRrCs1LrKlF6k8pb",
          "created": 1440299078,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_16comgKUdRrCs1Lr9jM7FUvO",
              "object": "charge",
              "created": 1440299078,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16comAKUdRrCs1LrjiubpDHY",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2019,
                "fingerprint": "Y1aIepUQrAX0qSGo",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6qVm0p7pJaJHJm"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_6qVm0p7pJaJHJm",
              "invoice": null,
              "description": "Myflix Monthly Charge",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "Myflix Monthly Charge",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16comgKUdRrCs1Lr9jM7FUvO/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_6qVoItLhThONJi",
          "api_version": "2015-07-28"
        }
  recorded_at: Sun, 23 Aug 2015 04:07:07 GMT
recorded_with: VCR 2.9.3
