!!! 5
%html(lang="en-US")
  %body
    %p #{@user.full_name.titleize}, someone (hopefully you!) requested to reset your password
    %p
      If you wanted to reset your password please follow
      =link_to 'this link', reset_password_url(@user.password_reset_token)
      and follow the instructions
    %p
      Questions or need some help? Feel free to send us an email:
      = mail_to ENV['TA_EMAIL'], 'MyFlix Support'
