---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16cphPKUdRrCs1LrLozYaoBL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_aHOa6eoJJjnQPRDIPLzYaM70
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16cphPKUdRrCs1LrLozYaoBL",
          "created": 1440302595,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_16cphPKUdRrCs1LrUEyolkfX",
              "object": "charge",
              "created": 1440302595,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16cpgwKUdRrCs1LrBOngrNEx",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2016,
                "fingerprint": "kuqCAfzAp21fifIi",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6qWk5c28L1PVFx"
              },
              "captured": true,
              "balance_transaction": "txn_16cphPKUdRrCs1Lrch4NudJW",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6qWk5c28L1PVFx",
              "invoice": null,
              "description": "myflix monthly charge",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "myflix monthly charge",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16cphPKUdRrCs1LrUEyolkfX/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_6qWkrSrf3XfTvm",
          "api_version": "2015-07-28"
        }
  recorded_at: Sun, 23 Aug 2015 04:07:04 GMT
recorded_with: VCR 2.9.3
