---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16cnKmKUdRrCs1LrODWPCDDW&plan=myflix_base&email=hal.swift%40pagac.net&description=Monthly%20charge%20for%208%2F2015
    headers:
      Authorization:
      - Bearer sk_test_aHOa6eoJJjnQPRDIPLzYaM70
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-28'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1440293504,
          "id": "cus_6qUJGhmlTrJRIv",
          "livemode": false,
          "description": "Monthly charge for 8/2015",
          "email": "hal.swift@pagac.net",
          "shipping": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6qUJGhmlTrJRIv/subscriptions",
            "data": [
              {
                "id": "sub_6qUJYsntI459ny",
                "plan": {
                  "interval": "month",
                  "name": "Myflix Base Subscription",
                  "created": 1440293286,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "Myflix Monthly Charge"
                },
                "object": "subscription",
                "start": 1440293504,
                "status": "active",
                "customer": "cus_6qUJGhmlTrJRIv",
                "cancel_at_period_end": false,
                "current_period_start": 1440293504,
                "current_period_end": 1442971904,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6qUJGhmlTrJRIv/sources",
            "data": [
              {
                "id": "card_16cnKmKUdRrCs1LrGWb9R4GQ",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "kuqCAfzAp21fifIi",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6qUJGhmlTrJRIv"
              }
            ]
          },
          "default_source": "card_16cnKmKUdRrCs1LrGWb9R4GQ"
        }
  recorded_at: Sun, 23 Aug 2015 01:31:45 GMT
recorded_with: VCR 2.9.3
