---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16cK6cKUdRrCs1LrwdPO5XXh&description=Registration%20charge%20for%20michael%40stroman.net
    headers:
      Authorization:
      - Bearer sk_test_aHOa6eoJJjnQPRDIPLzYaM70
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-28'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16cK6dKUdRrCs1LriJcJX87G"
          }
        }
  recorded_at: Fri, 21 Aug 2015 18:19:12 GMT
recorded_with: VCR 2.9.3
