---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16baQFKUdRrCs1LrTcxMo1eJ&description=Registration%20charge%20for%20pansy%40jast.info
    headers:
      Authorization:
      - Bearer sk_test_aHOa6eoJJjnQPRDIPLzYaM70
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-28'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16baQGKUdRrCs1LrlOsYy298"
          }
        }
  recorded_at: Wed, 19 Aug 2015 17:32:24 GMT
recorded_with: VCR 2.9.3
