---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=8&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_aHOa6eoJJjnQPRDIPLzYaM70
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16ZScQKUdRrCs1Lr8EvtPERW",
          "livemode": false,
          "created": 1439498890,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16ZScQKUdRrCs1Lrhvq5Ie2k",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2016,
            "fingerprint": "PWocUSQI88M9o1BB",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "24.190.115.87"
        }
  recorded_at: Thu, 13 Aug 2015 20:48:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16ZScQKUdRrCs1Lr8EvtPERW&description=Registration%20charge%20for%20stripetest%40example.com
    headers:
      Authorization:
      - Bearer sk_test_aHOa6eoJJjnQPRDIPLzYaM70
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-28'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16ZScQKUdRrCs1Lr5mMndFD1"
          }
        }
  recorded_at: Thu, 13 Aug 2015 20:48:11 GMT
recorded_with: VCR 2.9.3
